*{
	padding:0;
	margin:0;
}
input,label,img{
	vertical-align: middle;
}
body{
	margin:0 auto;
	background:url(../images/3.jpg);
}
.top{
	width:100%;
	height:40px;
	line-height: 40px;
	color:black;
	font-size: 14px;
	position: absolute;
	top:40px;
	text-align: center;
	background:#507A66;
	margin:0 auto;
}
.tit{
	width:100%;
	height:40px;
	color:black;
	font-size: 14px;
	background:white;
	position: absolute;
	top:0px;
	box-shadow:0px 1px 4px rgba(0,0,0,0.8)inset;
	line-height: 40px;
	/*font: 17px/2.6 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";*/
	font-size:18px;
	font-weight: bold;
}
.tit span{
	margin-left: 60px;
}
.tit a{
	font: 14px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
	color:#a3a3a3;
	text-decoration: none;
	float:right;
	line-height: 40px;
	margin-right: 30px;
}
.top a{
	text-decoration: none;
	color:white;
	margin-right: 40px;
	font-size: 20px;
	font-weight:bold;
	line-height: 40px;
}
.mid{
	position: relative;
	width:1100px;
	height:800px;
	margin:0 auto;
	top:110px;
	border-radius: 4px;
}
.logo{background-image: url(logo.png);height:53px;width: 107px; float: left;margin: -4px 18px 0 0;}
	.search-form{float: left; background-color: #fff;padding:5px;}
	.search-text{height:25px;line-height: 25px;float: left;width: 350px;border: 0;outline: none;}
	.search-button{background-image: url(../images/search-button.png);width:29px;height:29px;float: left;border: 0}
	.search-box{position:absolute;top:40px;left: 200px; }
.video{
	position: absolute;
	top:150px;
	width:900px;
	height:400px;
	left:100px;
}
.navi{
    width: 21px;
    height: 156px;
   /* background-color: silver; */
    float: left;
    cursor: pointer;
}

.navi ul{
    padding: 0px;
    margin-left: 0px;
    float: left;
}
.navi img{
    list-style-type: none;
    margin-top: 15px;
    margin-left:10px;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: silver; 
    padding-top: 8px;
    float: left;
}
.rb{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.zs, .rz , .cg, .ad, .wu{
    width: 700px;
    height: 400px;
    float: left;
    position: absolute;
    left:450px;
}
.rz{
    display: none; 
}

.cg{
    display: none; 
}
.ad{
	display: none;
}
.wu{
	display: none;
}
#sea{
	position: absolute;
	top:150px;
	width:900px;
	height:400px;
	left:100px;
}
#searchtext ul li{
	list-style: none;
}
.videotext img{
	width:300px;
	height:150px;
}
.videotext{
	float:left;
}
#searchtext ul li p{
	text-indent: 2em;
	padding-top: 20px;
	padding-left: 320px;
	font-size:20px;
}
