*{
	padding:0;
	margin:0;
}
body{
	margin:0 auto;
	background:#e9e4fb;
}
a:focus{
    outline: none;
}
.top{
	width:100%;
	height:40px;
	background:black;
	opacity: 0.4;/*图片的透明度*/
	line-height: 40px;
	color:white;
	position: fixed;
	z-index: 22;
	top:0;
	font-size: 14px;
}
.top span{
	margin-left: 20px;
}
.top a{
	font-size: 14px;
	color:white;
	text-decoration: none;
}
.top ul,li{
	float:right;
	list-style: none;
	cursor: pointer;
}
.top li{
	margin-right:20px;
}
.search{
	height:120px;
	width:100%;
	margin-top: 40px;
	background:white;
}
.search img{
	margin-left: 140px;
	float:left;
}
.search form{
	position:absolute;
	top:80px;
	left:340px;
	float:left;
	background-color:#af0bc1;
	padding:4px;
	margin: 0 auto;
}
.fo ul li{
   list-style: none;
   float:left;
   font: 14px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
   color:#a3a3a3;
   cursor: pointer;/*鼠标移上去变成手的形状*/
   width:60px;
   margin:10px;
}
.lo{
	float:right;
	margin-right: 60px;
}
.fo{
	position:absolute;
    top:120px;
    left:340px;
    width:640px;
    height:40px;
}
.search-text{
	height:35px;
	line-height: 35px;
	float: left;
	width: 600px;
	border: 0;
	outline: none;/*input输入框聚焦的时候没有边框*/
}
.search-button{
	background-image:url(images/search-button.png);
	width:29px;
	height:29px;
	float: left;
	border: 0;
}
.mid{
	margin-top:0px;
}
.slide
{
    margin: 0;
    padding: 0;
    width: 630px;
    margin:0 auto;
     z-index: 20;
     
}
.btn-slide
 {
    background:#d1cbd6;
    text-align: center;
    width: 630px;
    height: 30px;
    padding: 10px 10px 0 0;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-decoration: none;
}
#strHref a{
	text-decoration: none;
	font-size: 14px;
	color:black;
	margin-left: 20px;
	font-weight: bold;
}
/*left部分导航*/
.left{
	position: absolute;
    width: 270px;
	/*background: #A298A5;*/
	background:#EBCFE8;
	/*background:#8C8996;*/
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	top:180px;
	left:50px;
}
.left ol, ul {
	list-style: none;
}
.left li {
	cursor: pointer;
	width:270px;
    z-index: 2;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    vertical-align: bottom;
    border: 1px solid #dedede;
}

.left li h3 {
    font-size: 14px;
    font-weight: 400;
}
 li i {
    background:url(images/xuebi.jpg);
    display: inline;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 24px;
    width: 30px
}
.left li p{
	display: inline;
	float:right;
	margin-right: 10px;
	font: 13px/1.5 tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1";
   color:#a3a3a3;
   line-height: 50px;
}
/*雪碧图坐标*/
.cat-1 i{
    background-position:0 0;
}
.cat-2 i{
    background-position:0 -24px;
}
.cat-3 i{
    background-position:0 -48px;
}
.cat-4 i{
    background-position:0 -72px;
}
.cat-5 i{
    background-position:0 -96px;
}
.cat-6 i{
    background-position:0 -120px;
}
.cat-7 i{
    background-position:0 -144px;
}
.cat-8 i{
    background-position:0 -168px;
}
.right{
    position:absolute;
	right:100px;
	height:327px;
	width:200px;
	border: 1px solid #bbb;
	background:url(images/right2.png);
	top:180px;
}
#main{
	width:600px;
	height:310px;
	position:absolute;
	margin-left:350px;
	z-index: 1;
	border: 1px solid #333; 
	overflow: hidden;
}
#list { 
	width: 4200px;
	height: 400px;
	position: absolute; 
	z-index: 1;
	}
#list img { 
	float: left;
	width:600px;
	height:310px;
}
#buttons { 
	position: absolute; 
	height: 10px; width: 
	100px; z-index: 2;
	bottom: 20px;
	left: 250px;
}
#buttons span { 
	cursor: pointer; 
	float: left; 
	border: 1px solid #fff;
	 width: 10px;
	  height: 10px;
	   border-radius: 50%;
	    background: #333;
	     margin-right: 5px;
	 }
#buttons .on {  
	background: orangered;
}
.arrow { 
	cursor: pointer; 
	display: none; 
	line-height: 39px; 
	text-align: center;
	font-size: 36px; 
	font-weight: bold; 
	width: 40px; 
	height: 40px; 
	position: absolute;
	z-index: 2; 
	top: 140px; 
	background-color: RGBA(0,0,0,.3);/*颜色的RGB模式和透明度的简写*/
	color: #fff;
}
.arrow:hover { 
	background-color: RGBA(0,0,0,.7);
}
#main:hover .arrow {
 display: block;
}
#prev { 
	left: 20px;
}
#next { 
	right: 20px;
}
.pro{
	width:1100px;
	position: absolute;
	top:550px;
	right:100px;
	text-align: center;
	border: 1px solid #bbb;
	font:"微软雅黑";
	font-size:14px;
	height:auto;
	overflow:hidden;
}
.pro a{
	text-decoration:none;
	font:"微软雅黑";
	font-size:14px;
	color:#8C8996;
}
.a1{
	height:40px;
	overflow:hidden;
	line-height: 40px;
}
.pro ul,li{
	list-style:none;
}
.pro ul li{
	height:auto;
	width:240px;
	float:left;
	margin:17px;
} 
.a-img{
    height:240px;
    width:240px;
    display:block;
    overflow:hidden;
}
p a{
	display:block;
	line-height:23px;
	padding-left:10px;
}
.pro li:hover{
	border:1px solid #aaa;
}
#dao{
	background:#ccc;
	padding:10px 50px;
	font-weight: bolder;
}
.pride{
	color:red;
	font-size: 26px;
	font-weight: bold;
	padding-left: -100px;
}
#bao{
   float:right;
   background:#40C19D;
   border-radius: 7px;
   padding:4px;
   margin-right: 25px;
}


